@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: var(--font-inter);
		font-size: 14px;
	}

	body {
		margin: 0;
	}

	main {
		scroll-behavior: smooth !important;
	}

	h1 {
		@apply text-[4.75rem] tracking-[10%];
	}
	h2 {
		@apply text-[3.813rem] tracking-[10%];
	}
	h3 {
		@apply text-[3.063rem] tracking-[10%];
	}
	h4 {
		@apply text-[2.438rem] tracking-[10%];
	}
	h5 {
		@apply text-[1.938rem] tracking-[10%];
	}
	h6 {
		@apply text-[1.563rem] tracking-[10%];
	}

	@screen md {
		font-size: 16px;
	}
}

@layer components {
	.section-full {
		@apply h-screen w-screen;
	}

	.icon-btn {
		@apply inline-flex w-fit cursor-pointer items-center whitespace-nowrap rounded-md px-2 py-1 text-inherit transition-all hover:bg-light/20 hover:text-accent-200 focus:bg-accent-100/40 disabled:bg-gray-100/30 disabled:text-gray-400;
	}

	.chip {
		@apply mx-1 my-2 w-fit overflow-hidden rounded-full bg-accent-50/10 px-2 py-1 text-sm font-medium text-accent-200 transition-all;
	}

	.chip-link {
		@apply h-full w-full;
	}

	.link {
		@apply block px-3 py-2 transition-all hover:text-accent-50;
	}

	.tab {
		@apply block w-24 p-3 text-light/80;
	}

	.tab.active {
		@apply bg-accent-200/30 text-accent-500 transition-all;
	}

	.glider {
		@apply px-2 py-1 transition-all;
	}

	/* .tab[tabIndex='0'].active + .glider {
		@apply translate-x-[0];
	}

	.tab[tabIndex='1'].active ~ .glider {
		@apply translate-x-[100%];
	}

	.tab[tabIndex='2'].active ~ .glider {
		@apply translate-x-[200%];
	}

	.tab[tabIndex='3'].active ~ .glider {
		@apply translate-x-[300%];
	} */

	.shadow {
		@apply shadow-lg drop-shadow-md transition-all;
	}
}
